body {
	background: #E2EBED;
	color: #444;
	font-family: "Myriad Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

canvas {
	background: url("img/cenario.png") no-repeat;
	/*border: 1px solid gray;*/
	box-shadow: 0 .3em 1em black;
	-moz-box-shadow: 0 .3em 1em black;
	-webkit-box-shadow: 0 .3em 1em black;
}
	
#main {
	width: 980px; 
	text-align: left;
	border: 0px; 
	padding: 10px;  
	margin: 15px auto;	
    position: relative;
}

h1, h2, h3, span {
	text-align: center;
}

#toolbar {
	border: 1px dashed #222;
	position: absolute;
	width:980px;
}

#toolbar div {
	margin: 0px 25px;
	width: 120px;
	float:left;
	padding: 10px 10px;
	text-align: center;
}

.tool span {
	background-color: white;
	padding: 5px 5px;
	position: relative;
}

.tool img {
	display: inline;
	width: 64px;
	height: 64px;
	padding-top: 10px;
	position: relative;
}

.tool:hover {
	/*background-color: grey;*/
}

#winScreen {
	position:absolute;
	width:980px;
	height:360px;
	display:none;
	text-align:center;
}

#winScreen .window {
	margin: 100px auto auto auto;
	width:200px;
	height:125px;
	background: #ffffff;
	box-shadow: 0 .3em 1em black;
	-moz-box-shadow: 0 .3em 1em black;
	-webkit-box-shadow: 0 .3em 1em black;
	border-radius: 10px;
}

#winScreen .window div {
	padding-top: 30px;
}

#loseScreen {
	position:absolute;
	width:980px;
	height:360px;
	display:none;
	text-align:center;
}

#loseScreen .window {
	margin: 100px auto auto auto;
	width:200px;
	height:125px;
	background: #ffffff;
	box-shadow: 0 .3em 1em black;
	-moz-box-shadow: 0 .3em 1em black;
	-webkit-box-shadow: 0 .3em 1em black;
	border-radius: 10px;
}

#loseScreen .window div {
	padding-top: 30px;
}

#endScreen {
	position:absolute;
	width:980px;
	height:360px;
	display:none;
	text-align:center;
}

#endScreen .window {
	margin: 100px auto auto auto;
	width:200px;
	height:125px;
	background: #ffffff;
	box-shadow: 0 .3em 1em black;
	-moz-box-shadow: 0 .3em 1em black;
	-webkit-box-shadow: 0 .3em 1em black;
	border-radius: 10px;
}

#endScreen .window div {
	padding-top: 30px;
}
